{:paths ["src", "resources" "lib/twitter-clj/src"]

 :deps
 {;; Clojure
  org.clojure/clojure {:mvn/version "1.11.1"}

  ;; 状態管理
  integrant/integrant {:mvn/version "0.8.0"}

  ;; Web
  clj-http/clj-http   {:mvn/version "3.12.3"}
  slingshot/slingshot {:mvn/version "0.12.2"}
  enlive/enlive       {:mvn/version "1.1.6"}

  ;; utilites
  cheshire/cheshire                   {:mvn/version "5.10.2"}
  jarohen/chime                       {:mvn/version "0.3.3"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
  org.clojure/data.csv                {:mvn/version "1.0.1"}

  ;; avoid SLF4J warnings
  org.slf4j/slf4j-nop {:mvn/version "RELEASE"}

  ;; Logging
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  com.taoensso/timbre       {:mvn/version "5.2.1"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}

  ;; tsu-nera/twitter-clj {:git/url "git@github.com:tsu-nera/twitter-clj.git"}
  tsu-nera/twitter-clj {:local/root "lib/twitter-clj"}

  ;; Google Cloud Platform
  com.google.auth/google-auth-library-oauth2-http {:mvn/version "1.6.0"}
  com.google.cloud/google-cloud-firestore         {:mvn/version "3.1.0"}
  com.google.firebase/firebase-admin              {:mvn/version "8.1.0"}
  lurodrigo/firestore-clj                         {:mvn/version "1.2.1"}
  ;; firesotre-cljを追加したらio.perfmarkが見つからずにエラーしたので追加.
  io.perfmark/perfmark-api                        {:mvn/version "0.25.0"}

  ;; for API Server
  ring/ring-core          {:mvn/version "1.9.5"}
  ring/ring-jetty-adapter {:mvn/version "1.9.5"}
  ring/ring-json          {:mvn/version "0.5.1"}
  metosin/reitit          {:mvn/version "0.5.18"}}

 :aliases
 {;; clojure -M:run
  :run      {:main-opts ["-m" "kotori.core"]}
  ;; PORT=8888 clojure -M:serve
  :serve    {:main-opts ["-m" "kotori.service.server"]}
  ;; clojure -T:build xxx
  :build    {:deps       {io.github.clojure/tools.build   {:git/tag "v0.8.1" :git/sha "7d40500"}
                          com.google.cloud.tools/jib-core {:mvn/version "0.21.0"}}
             :ns-default build}
  ;; clojure -A:dev
  ;; .dir-locals.elのcider-clojure-cli-aliasesにdevを指定することで
  ;; cider-jack-inでもextra-deps/pathsを反映させる.
  :local    {:extra-paths ["dev/src"]
             :extra-deps  {integrant/repl                  {:mvn/version "0.3.2"}
                           hashp/hashp                     {:mvn/version "0.2.1"}
                           nrepl/nrepl                     {:mvn/version "0.9.0"}
                           refactor-nrepl/refactor-nrepl   {:mvn/version "3.5.2"}
                           cider/cider-nrepl               {:mvn/version "0.28.3"}
                           io.github.clojure/tools.build   {:git/tag "v0.8.1" :git/sha "7d40500"}
                           com.google.cloud.tools/jib-core {:mvn/version "0.21.0"}
                           djblue/portal                   {:mvn/version "0.24.0"}
                           clj-commons/pomegranate         {:mvn/version "1.2.1"}}}
  ;; clojure -M:outdated (--upgrade --download)
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts  ["-m" "antq.core"]}
  ;; jiblib
  ;; clojure -Tjib build :aliases "[:run]"

  ;; clojure -M:nrepl:local
  ;; cider-connectのためにnreplとlocalの両方のオプションが必要.
  :nrepl {:main-opts ["-m"
                      "nrepl.cmdline"
                      "-b" "0.0.0.0"
                      "-p" "34331"
                      "--middleware"
                      "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}}}
