{:imageURL
 {:list
  "https://ebook-assets.dmm.co.jp/digital/e-book/b410awvzr03641/b410awvzr03641pt.jpg",
  :small
  "https://ebook-assets.dmm.co.jp/digital/e-book/b410awvzr03641/b410awvzr03641ps.jpg",
  :large
  "https://ebook-assets.dmm.co.jp/digital/e-book/b410awvzr03641/b410awvzr03641pl.jpg"},
 :date          "2020-02-03 00:03:04",
 :content_id    "b410awvzr03641",
 :service_name  "FANZAブックス",
 :number        "1",
 :floor_code    "comic",
 :product_id    "b410awvzr03641",
 :iteminfo
 {:genre
  [{:id 53, :name "単話"}
   {:id 1, :name "フルカラー"}
   {:id 1001, :name "OL"}
   {:id 555, :name "恋愛"}],
  :series      [{:id 914017, :name "地味子は意外にエロかった"}],
  :manufacture [{:id 50416, :name "スクリーモ"}],
  :author      [{:id 252194, :name "いぶろー。"}]},
 :affiliateURL
 "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fbook.dmm.co.jp%2Fdetail%2Fb410awvzr03641%2F&af_id=hogehoge-xxx&ch=api",
 :floor_name    "コミック",
 :title         "地味子は意外にエロかった 1",
 :volume        "28",
 :category_name "コミック (電子書籍)",
 :prices        {:price 0},
 :review        {:count 21, :average "3.86"},
 :tachiyomi
 {:URL
  "https://book.dmm.co.jp/tachiyomi/?cid=FRNfXRNVFW1RAQxaBwdWVhYTTEQAClINU05EDl0VClQMBllNB1o*UFcKWhRHVwVfCBxZW1kEVQ__&lin=1&sd=0",
  :affiliateURL
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fbook.dmm.co.jp%2Ftachiyomi%2F%3Fcid%3DFRNfXRNVFW1RAQxaBwdWVhYTTEQAClINU05EDl0VClQMBllNB1o%2AUFcKWhRHVwVfCBxZW1kEVQ__%26lin%3D1%26sd%3D0%2F&af_id=hogehoge-xxx&ch=api"},
 :service_code  "ebook",
 :URL           "https://book.dmm.co.jp/detail/b410awvzr03641/"}
