;; configuration maps for integrant
{
 ;; services
 :kotori.service.firebase/app {:config {}}
 :kotori.service.firebase/db  {:app #ig/ref :kotori.service.firebase/app}
 :kotori.service.bot/app      {}

 ;; models
 :kotori.model.meigen/db {:db #ig/ref :kotori.service.firebase/db}
 :kotori.model.kotori/db {:config {} :db #ig/ref :kotori.service.firebase/db}
 :kotori.model.tweet/db  {:config {} :db #ig/ref :kotori.service.firebase/db}

 ;; :kotori.service.kotori/app   {:config {} :db #ig/ref :kotori.model.firebase/firestore}
 ;; :kotori.twitter/account          {:kotori #ig/ref :kotori.kotori/app}
 ;; :kotori.config/config     {}
 ;; :kotori.firebase/firebase {:config #ig/ref :kotori.config/config}
 ;;:kotori.bot/bot           {:db #ig/ref :kotori.firebase/firebase}
 }
