{"ハメ撮り"   "ハむぇどり",
 "ちんこ"     "おてぃんこ",
 "中出し"     "中田氏",
 "肛門"       "×門",
 "射精"       "射せい",
 "マンコ"     "おめこ",
 "NTR"        "N T R",
 "手マン"     "手マーン",
 "ザーメン"   "ザー麺",
 "クンニ"     "くんぬぃ",
 "ピストン"   "ピスとン",
 "勃起"       "ぼっきん",
 "イチモツ"   "いちもツ",
 "フェラ"     "ふえら",
 "パイパン"   "パイぱん",
 "チンポ"     "チむぽ",
 "FUCK"       "F×CK",
 "金玉"       "たまタマ",
 "チンしゃぶ" "チんしゃぶう",
 "精子"       "精C",
 "ちんこき"   "おちンぽこき",
 "近親相姦"   "近●相○",
 "女子高生"   "女子◯生",
 "メスイキ"   "メスイ木",
 "顔射"       "がん射",
 "パイズリ"   "パイじゅり",
 "オナニー"   "おなぬ",
 "精飲"       "セイ飲",
 "便器"       "B器",
 "ちんぽ"     "ちむぽ",
 "デカチン"   "デカティン",
 "アナル"     "ア×ル",
 "ヤリマン"   "ヤリマーン",
 "オナホ"     "オなホ",
 "エロ"       "エ口",
 "オッパイ"   "乙パイパイ",
 "セックス"   "セクロス",
 "SEX"        "セクロス"}
