{"ハメ撮り"   "ハむぇどり",
 "ちんこ"     "おてぃんこ",
 "中出し"     "中田氏",
 "肛門"       "校門",
 "射精"       "射せい",
 "おまんこ"   "おまんまん",
 "マンコ"     "コーマン",
 "NTR"        "N T R",
 "手マン"     "手マーン",
 "手コキ"     "手コきん",
 "ザーメン"   "ザー麺",
 "クンニ"     "くんぬぃ",
 "ピストン"   "ピスとン",
 "勃起"       "ぼっきん",
 "イチモツ"   "いちモツ",
 "フェラ"     "ふえら",
 "パイパン"   "パイぱん",
 "チンポ"     "てぃむぽ",
 "FUCK"       "F×CK",
 "金玉"       "たまタマ",
 "チンしゃぶ" "チんしゃぶう",
 "精子"       "精C",
 "ちんこき"   "おちンぽこき",
 "近親相姦"   "近●相○",
 "女子高生"   "女子◯生",
 "メスイキ"   "メスイ木",
 "顔射"       "がんしゃ",
 "パイズリ"   "パイじゅり",
 "オナニー"   "おなぬ",
 "精飲"       "セイ飲",
 "便器"       "べむき",
 "ちんぽ"     "ちむぽ",
 "デカチン"   "デカちむぽ",
 "アナル"     "ア×ル",
 "ヤリマン"   "ヤリ万",
 "ヤリチン"   "ヤリちむぽ",
 "オナホ"     "ヲナホ",
 "エロ"       "エ口",
 "オッパイ"   "オッぱいパイ",
 "おっぱい"   "おっパイぱい",
 "セックス"   "セクロス",
 "SEX"        "セクロス"}
