{"ハメ撮り"   "ハむぇどり",
 "ちんこ"     "おてぃんこ",
 "中出し"     "中田氏",
 "肛門"       "黄門",
 "射精"       "射せい",
 "マンコ"     "おめこ",
 "マ●コ"      "マンマン",
 "マ○コ"      "まん子",
 "チ●ポ"      "ちむぷぉ"
 "チ○ポ"      "ちン子",
 "ペ●ス"      "ベニス",
 "ペニス"     "ぺにぺに",
 "NTR"        "N T R",
 "手マン"     "手マーン",
 "ザーメン"   "ザー麺",
 "おっぱい"   "おっパイぱい",
 "クンニ"     "くんぬぃ",
 "オッパイ"   "オッぱいパイ",
 "ピストン"   "ピスとン",
 "勃起"       "コチコチ",
 "イチモツ"   "いちモツ",
 "フェラ"     "ふえら",
 "パイパン"   "パイぱん",
 "チンポ"     "チむぽ",
 "FUCK"       "F×CK",
 "ヤリチン"   "ヤリちむぽ",
 "金玉"       "たまタマ",
 "チンしゃぶ" "チんしゃぶう",
 "セックス"   "セクロス",
 "エロ"       "エ口",
 "精子"       "精C",
 "SEX"        "セクロス",
 "ちんこき"   "おちンぽこき",
 "近親相姦"   "近●相○",
 "女子高生"   "女子◯生",
 "メスイキ"   "めすいき",
 "顔射"       "ガンシャー",
 "パイズリ"   "パイじゅり",
 "オナニー"   "おなぬ",
 "精飲"       "セイ飲",
 "便器"       "べむき",
 "ちんぽ"     "ちむぽ",
 "デカチン"   "デカちむぽ",
 "アナル"     "ア×ル",
 "手コキ"     "手コきん",
 "ヤリマン"   "ヤリ万",
 "オナホ"     "ヲナホ",
 "JK"         "ジぇーケー",
 "ＪＫ"       "じぇーけー",
 "パンティ"   "ぱんちい",
 "ビッチ"     "ビっち",
 "スケベ"     "助平",
 "円光"       "宴光",
 "援交"       "園校",
 "援助交際"   "円●●際",
 "性器"       "聖器",
 "アクメ"     "アクめ",
 "オマ●コ"    "オメヌコ",
 "性処理"     "聖処理",
 "セフレ"     "セクふれ",
 "パパ活"     "パピィ活",
 "生ハメ"     "なまはメ",
 "イラマチオ" "イラマチ男",
 "変態"       "変たい",
 "小便"       "しょう便",
 "おもらし"   "をもらし",
 "お漏らし"   "ヲ漏らし",
 "ペニバン"   "ぺにバン",
 "デリヘル"   "デリへル",
 "自慰"       "G慰",
 "脅迫"       "○迫",
 "盗撮"       "トー札",
 "のぞき"     "の●き",
 "巨根"       "巨ょ根",
 "肉棒"       "にくぼー",
 "オフパコ"   "おフぱコ",
 "首絞め"     "●締め",
 "裏垢"       "裏●",
 "電マ"       "電ま",
 "ナンパ"     "ナんパ",
 "ノンケ"     "のんケ",
 "レズ"       "れズ",
 "乱交"       "ランコー",
 "キメセク"   "キメせっく",
 "メス"       "めす",
 "媚薬"       "美薬"}
