{"0001" {:floor-code "videoa"
         :coll-path  "providers/dmm/products"}
 "0002" {:floor-code "videoa" :genre-id 1031
         :coll-path  "providers/dmm/products"}
 "0003" {:floor-code "videoa" :genre-id 35
         :coll-path  "providers/dmm/products"}
 "0007" {:floor-code "videoa" :genre-id 6149
         :coll-path  "providers/dmm/products"}
 "0009" {:floor-code "videoa" :genre-id 3008 ;水着
         :coll-path  "providers/dmm/products"}
 "0010" {:floor-code "videoa" :genre-id 2007
         :coll-path  "providers/dmm/products"}
 "0011" {:floor-code "videoa" :genre-id 1014
         :coll-path  "providers/dmm/products"}
 "0019" {:floor-code "videoa" :genre-id 4138
         :coll-path  "providers/dmm/products"}
 "0020" {:floor-code "videoa" :genre-id 5068
         :coll-path  "providers/dmm/products"}
 "0024" {:floor-code "anime"
         :coll-path  "providers/dmm/animes"}
 "0025" {:floor-code "videoa" :genre-id 5074
         :coll-path  "providers/dmm/products"}
 "0026" {:floor-code "doujin" :genre-id 156006
         :coll-path  "providers/dmm/girls"}
 "0027" {:floor-code "videoc"
         :coll-path  "providers/dmm/amateurs"}
 "0028" {:floor-code "videoa" :genre-id 6793
         :coll-path  "providers/dmm/vrs"}
 "0029" {:floor-code "doujin" :genre-id 156022
         :coll-path  "providers/dmm/doujins"}
 "0031" {:floor-code "doujin"
         :coll-path  "providers/dmm/doujins"}
 "0034" {:floor-code "doujin" :genre-id 156006
         :coll-path  "providers/dmm/girls"}
 "0040" {:floor-code "videoc" :genre-id 8510
         :coll-path  "providers/dmm/amateurs"}
 "0041" {:floor-code "videoa" :genre-id 5060
         :coll-path  "providers/dmm/products"}
 "0042" {:floor-code "videoa" :genre-id 35
         :coll-path  "providers/dmm/products"}}
