{:imageURL
 {:list "https://pics.dmm.co.jp/digital/voice/d_217813/d_217813pt.jpg",
  :large
  "https://pics.dmm.co.jp/digital/voice/d_217813/d_217813pl.jpg"},
 :date "2022-05-06 00:00:00",
 :content_id "d_217813",
 :service_name "同人",
 :floor_code "digital_doujin",
 :product_id "d_217813",
 :iteminfo
 {:genre
  [{:id 25, :name "拘束"}
   {:id 28, :name "羞恥"}
   {:id 62, :name "触手"}
   {:id 95, :name "性転換・女体化"}
   {:id 5001, :name "中出し"}
   {:id 5068, :name "イラマチオ"}
   {:id 153030, :name "百合"}
   {:id 155017, :name "言葉責め"}
   {:id 156022, :name "男性向け"}
   {:id 156023, :name "成人向け"}
   {:id 160016, :name "サキュバス"}
   {:id 160018, :name "妊娠・孕ませ"}
   {:id 156021, :name "FANZA専売"}
   {:id 160032, :name "特集"}],
  :series [{:id 3007261, :name "どうあがいても絶頂"}],
  :maker [{:id 73366, :name "しりあるヒプノ"}]},
 :affiliateURL
 "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdc%2Fdoujin%2F-%2Fdetail%2F%3D%2Fcid%3Dd_217813%2F&af_id=hogehoge-xxx&ch=api",
 :floor_name "同人",
 :title "どうあがいても絶頂… 【フルカラーコミック付き】",
 :volume "9本 (約142分)+α",
 :category_name "同人 (同人)",
 :prices
 {:price "1232",
  :list_price "1760",
  :deliveries
  {:delivery [{:type "download", :price "1232", :list_price "1760"}]}},
 :campaign
 [{:date_begin "2022-05-06T00:00:00Z", :date_end "", :title "30%OFF"}],
 :service_code "doujin",
 :URL "https://www.dmm.co.jp/dc/doujin/-/detail/=/cid=d_217813/"}
