{:imageURL
 {:list "https://pics.dmm.co.jp/digital/cg/d_223288/d_223288pt.jpg",
  :large "https://pics.dmm.co.jp/digital/cg/d_223288/d_223288pl.jpg"},
 :date "2022-02-11 00:00:00",
 :content_id "d_223288",
 :service_name "同人",
 :floor_code "digital_doujin",
 :product_id "d_223288",
 :iteminfo
 {:genre
  [{:id 13, :name "動画・アニメーション"}
   {:id 15, :name "音声付き"}
   {:id 553, :name "学園もの"}
   {:id 2001, :name "巨乳"}
   {:id 4020, :name "野外・露出"}
   {:id 5001, :name "中出し"}
   {:id 5003, :name "ぶっかけ"}
   {:id 5005, :name "アナル"}
   {:id 5019, :name "パイズリ"}
   {:id 5071, :name "ハーレム"}
   {:id 156022, :name "男性向け"}
   {:id 156023, :name "成人向け"}
   {:id 156004, :name "動画ファイル"}],
  :series [{:id 3000817, :name "陸上部女子は俺の生オナホ"}],
  :maker [{:id 25530, :name "STUDIOふあん"}]},
 :affiliateURL
 "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdc%2Fdoujin%2F-%2Fdetail%2F%3D%2Fcid%3Dd_223288%2F&af_id=hogehoge-xxx&ch=api",
 :floor_name "同人",
 :title "更に！動画版 陸上部女子は俺の生オナホ！！！校内種付け編",
 :volume "動画16本+α",
 :category_name "同人 (同人)",
 :prices
 {:price "1980",
  :list_price "3960",
  :deliveries
  {:delivery [{:type "download", :price "1980", :list_price "3960"}]}},
 :review {:count 28, :average "4.71"},
 :campaign
 [{:date_begin "2022-04-04T00:00:00Z", :date_end "", :title "50%OFF"}],
 :service_code "doujin",
 :URL "https://www.dmm.co.jp/dc/doujin/-/detail/=/cid=d_223288/"}
