{:imageURL
 {:list "https://pics.dmm.co.jp/digital/game/d_226142/d_226142pt.jpg",
  :large
  "https://pics.dmm.co.jp/digital/game/d_226142/d_226142pl.jpg"},
 :date "2022-04-29 00:00:00",
 :content_id "d_226142",
 :service_name "同人",
 :floor_code "digital_doujin",
 :product_id "d_226142",
 :iteminfo
 {:genre
  [{:id 15, :name "音声付き"}
   {:id 160033, :name "厳選"}
   {:id 13, :name "動画・アニメーション"}
   {:id 4020, :name "野外・露出"}
   {:id 4111, :name "寝取り・寝取られ・NTR"}
   {:id 5060, :name "母乳"}
   {:id 152015, :name "売春・援交"}
   {:id 153016, :name "ロールプレイング"}
   {:id 155010, :name "異種姦"}
   {:id 156021, :name "FANZA専売"}
   {:id 156022, :name "男性向け"}
   {:id 156023, :name "成人向け"}
   {:id 160018, :name "妊娠・孕ませ"}
   {:id 160032, :name "特集"}],
  :maker [{:id 70751, :name "あせろら"}]},
 :affiliateURL
 "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdc%2Fdoujin%2F-%2Fdetail%2F%3D%2Fcid%3Dd_226142%2F&af_id=hogehoge-xxx&ch=api",
 :floor_name "同人",
 :title "Lust Prison 〜監獄都市に堕ちる花乙女リリア〜【お気に入りに追加特典アリ】",
 :category_name "同人 (同人)",
 :prices
 {:price "2970",
  :list_price "2970",
  :deliveries
  {:delivery [{:type "download", :price "2970", :list_price "2970"}]}},
 :review {:count 69, :average "4.77"},
 :service_code "doujin",
 :URL "https://www.dmm.co.jp/dc/doujin/-/detail/=/cid=d_226142/"}
