{:imageURL
 {:list "https://pics.dmm.co.jp/digital/comic/d_231143/d_231143pt.jpg",
  :large
  "https://pics.dmm.co.jp/digital/comic/d_231143/d_231143pl.jpg"},
 :date "2022-05-12 16:00:00",
 :content_id "d_231143",
 :service_name "同人",
 :floor_code "digital_doujin",
 :product_id "d_231143",
 :iteminfo
 {:genre
  [{:id 569, :name "ラブコメ"}
   {:id 5001, :name "中出し"}
   {:id 152002, :name "ティーンズラブ"}
   {:id 153003, :name "おっぱい"}
   {:id 155026, :name "和姦"}
   {:id 156006, :name "女性向け"}
   {:id 156023, :name "成人向け"}
   {:id 160016, :name "サキュバス"}
   {:id 160026, :name "乙女向け"}
   {:id 160030, :name "ピックアップ"}],
  :maker [{:id 204484, :name "ササメゴト"}]},
 :affiliateURL
 "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdc%2Fdoujin%2F-%2Fdetail%2F%3D%2Fcid%3Dd_231143%2F&af_id=hogehoge-xxx&ch=api",
 :floor_name "同人",
 :title "キスからはじまる専属契約",
 :volume "62",
 :category_name "同人 (同人)",
 :prices
 {:price "770",
  :list_price "770",
  :deliveries
  {:delivery [{:type "download", :price "770", :list_price "770"}]}},
 :service_code "doujin",
 :URL "https://www.dmm.co.jp/dc/doujin/-/detail/=/cid=d_231143/"}
