({:genre_id "1043",
  :name "ウェイトレス",
  :ruby "うぇいとれす",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1043%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1044",
  :name "メイド",
  :ruby "めいど",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1044%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1045",
  :name "家庭教師",
  :ruby "かていきょうし",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1045%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1046",
  :name "格闘家",
  :ruby "かくとうか",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1046%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1047",
  :name "看護婦・ナース",
  :ruby "かんごふなーす",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1047%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1048",
  :name "女教師",
  :ruby "おんなきょうし",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1048%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1049",
  :name "女子校生",
  :ruby "じょしこうせい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1049%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1050",
  :name "人妻・主婦",
  :ruby "ひとづましゅふ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1050%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1051",
  :name "美少女",
  :ruby "びしょうじょ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1051%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1052",
  :name "未亡人",
  :ruby "みぼうじん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1052%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1053",
  :name "OL",
  :ruby "おーえる",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1053%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1054",
  :name "アイドル・芸能人",
  :ruby "あいどるげいのうじん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1054%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1056",
  :name "熟女",
  :ruby "じゅくじょ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1056%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1057",
  :name "女医",
  :ruby "じょい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1057%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1058",
  :name "女子アナ",
  :ruby "じょしあな",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1058%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1059",
  :name "女子大生",
  :ruby "じょしこうせい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1059%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1060",
  :name "若妻・幼妻",
  :ruby "わかづまおさなづま",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1060%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1061",
  :name "秘書",
  :ruby "ひしょ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1061%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1063",
  :name "職業色々",
  :ruby "しょくぎょういろいろ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1063%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1064",
  :name "痴女",
  :ruby "ちじょ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1064%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1065",
  :name "お母さん",
  :ruby "おかあさん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1065%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1066",
  :name "ギャル",
  :ruby "ぎゃる",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1066%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1070",
  :name "女将・女主人",
  :ruby "おかみおんなしゅじん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1070%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1074",
  :name "義母",
  :ruby "ぎぼ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1074%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1076",
  :name "くノ一",
  :ruby "くのいち",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1076%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1077",
  :name "巫女",
  :ruby "みこ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1077%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1078",
  :name "お姫様",
  :ruby "おひめさま",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1078%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1079",
  :name "処女",
  :ruby "しょじょ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1079%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1084",
  :name "妊婦",
  :ruby "にんぷ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1084%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "1087",
  :name "女戦士",
  :ruby "おんなせんし",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D1087%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "2014",
  :name "スレンダー",
  :ruby "すれんだー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D2014%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "2015",
  :name "めがね",
  :ruby "めがね",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D2015%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "2017",
  :name "巨乳",
  :ruby "きょにゅう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D2017%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "2020",
  :name "ふたなり",
  :ruby "ふたなり",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D2020%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3017",
  :name "ボンテージ",
  :ruby "ぼんてーじ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3017%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3018",
  :name "ランジェリー",
  :ruby "らんじぇりー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3018%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3019",
  :name "学生服",
  :ruby "がくせいふく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3019%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3020",
  :name "水着",
  :ruby "みずぎ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3020%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3021",
  :name "和服・浴衣",
  :ruby "わふくゆかた",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3021%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3022",
  :name "セーラー服",
  :ruby "せーらーふく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3022%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3023",
  :name "体操着・ブルマ",
  :ruby "たいそうぎぶるま",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3023%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3024",
  :name "パンスト・タイツ",
  :ruby "ぱんすとたいつ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3024%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3025",
  :name "ミニスカ",
  :ruby "みにすか",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3025%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3026",
  :name "競泳・スクール水着",
  :ruby "きょうえいすくーるみずぎ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3026%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "3027",
  :name "エプロン",
  :ruby "えぷろん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D3027%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4035",
  :name "SM",
  :ruby "えすえむ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4035%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4036",
  :name "コスプレ",
  :ruby "こすぷれ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4036%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4037",
  :name "スカトロ",
  :ruby "すかとろ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4037%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4038",
  :name "その他フェチ",
  :ruby "そのたふぇち",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4038%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4040",
  :name "レズ",
  :ruby "れず",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4040%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4041",
  :name "近親相姦",
  :ruby "きんしんそうかん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4041%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4045",
  :name "乱交",
  :ruby "らんこう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4045%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4048",
  :name "企画",
  :ruby "きかく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4048%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4050",
  :name "パンチラ",
  :ruby "ぱんちら",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4050%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4052",
  :name "カーセックス",
  :ruby "かーせっくす",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4052%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4053",
  :name "妄想",
  :ruby "もうそう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4053%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4054",
  :name "淫乱・ハード系",
  :ruby "いんらんはーどけい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4054%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4056",
  :name "野外・露出",
  :ruby "やがいろしゅつ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4056%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4060",
  :name "ゲイ・ホモ",
  :ruby "げいほも",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4060%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4061",
  :name "貧乳・微乳",
  :ruby "ひんにゅうびにゅう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4061%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4062",
  :name "アクション・格闘",
  :ruby "あくしょんかくとう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4062%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4063",
  :name "3D",
  :ruby "すりーでぃー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4063%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4064",
  :name "辱め",
  :ruby "はずかしめ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4064%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4066",
  :name "学園もの",
  :ruby "がくえんもの",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4066%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4067",
  :name "拘束",
  :ruby "こうそく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4067%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4068",
  :name "触手",
  :ruby "しょくしゅ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4068%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4069",
  :name "時代劇",
  :ruby "じだいげき",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4069%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4070",
  :name "ダーク系",
  :ruby "だーくけい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4070%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4071",
  :name "クンニ",
  :ruby "くんに",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4071%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4072",
  :name "ボーイズラブ",
  :ruby "ぼーいずらぶ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4072%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4079",
  :name "SF",
  :ruby "えすえふ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4079%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4107",
  :name "騎乗位",
  :ruby "きじょうい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4107%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "4109",
  :name "姉・妹",
  :ruby "あねいもうと",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D4109%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5026",
  :name "3P・4P",
  :ruby "さんぴーよんぴー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5026%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5027",
  :name "アナル",
  :ruby "あなる",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5027%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5028",
  :name "オナニー",
  :ruby "おなにー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5028%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5029",
  :name "おもちゃ",
  :ruby "おもちゃ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5029%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5030",
  :name "ごっくん",
  :ruby "ごっくん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5030%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5031",
  :name "シックスナイン",
  :ruby "しっくすないん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5031%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5032",
  :name "パイズリ",
  :ruby "ぱいずり",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5032%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5033",
  :name "バイブ",
  :ruby "ばいぶ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5033%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5034",
  :name "ローター",
  :ruby "ろーたー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5034%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5035",
  :name "飲尿",
  :ruby "いんにょう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5035%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5036",
  :name "監禁",
  :ruby "かんきん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5036%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5037",
  :name "顔射",
  :ruby "がんしゃ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5037%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5038",
  :name "手コキ",
  :ruby "てこき",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5038%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5041",
  :name "中出し",
  :ruby "なかだし",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5041%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5042",
  :name "縛り・緊縛",
  :ruby "しばりきんばく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5042%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5043",
  :name "放尿・お漏らし",
  :ruby "ほうにょうおもらし",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5043%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5044",
  :name "浣腸",
  :ruby "かんちょう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5044%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5045",
  :name "ぶっかけ",
  :ruby "ぶっかけ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5045%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5046",
  :name "潮吹き",
  :ruby "しおふき",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5046%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5047",
  :name "淫語",
  :ruby "いんご",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5047%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5058",
  :name "羞恥",
  :ruby "しゅうち",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5058%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5061",
  :name "母乳",
  :ruby "ぼにゅう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5061%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "5065",
  :name "フェラ",
  :ruby "ふぇら",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D5065%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6013",
  :name "ベスト・総集編",
  :ruby "べすとそうしゅうへん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6013%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6064",
  :name "デジタル最新作",
  :ruby "でじたるさいしんさく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6064%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6112",
  :name "制服",
  :ruby "せいふく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6112%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6114",
  :name "アンドロイド",
  :ruby "あんどろいど",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6114%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6115",
  :name "お姉さん",
  :ruby "おねえさん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6115%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6116",
  :name "お嬢様・令嬢",
  :ruby "おじょうさまれいじょう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6116%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6117",
  :name "シスター",
  :ruby "しすたー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6117%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6118",
  :name "その他学生",
  :ruby "そのたがくせい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6118%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6119",
  :name "幼なじみ",
  :ruby "おさななじみ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6119%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6120",
  :name "アドベンチャー",
  :ruby "あどべんちゃー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6120%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6123",
  :name "ファンタジー",
  :ruby "ふぁんたじー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6123%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6125",
  :name "ホラー",
  :ruby "ほらー",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6125%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6126",
  :name "盗撮・のぞき",
  :ruby "とうさつのぞき",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6126%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6135",
  :name "ツンデレ",
  :ruby "つんでれ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6135%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6136",
  :name "ネコミミ・獣系",
  :ruby "ねこみみけものけい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6136%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6137",
  :name "サスペンス",
  :ruby "さすぺんす",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6137%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6139",
  :name "ラブコメ",
  :ruby "らぶこめ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6139%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6140",
  :name "鬼畜",
  :ruby "きちく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6140%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6142",
  :name "恋愛",
  :ruby "れんあい",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6142%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6153",
  :name "ハイビジョン",
  :ruby "はいびじょん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6153%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6183",
  :name "マッサージ・リフレ",
  :ruby "まっさーじりふれ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6183%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6185",
  :name "ハーレム",
  :ruby "はーれむ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6185%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6186",
  :name "オタク",
  :ruby "おたく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6186%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6190",
  :name "バック",
  :ruby "ばっく",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6190%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6191",
  :name "チアガール",
  :ruby "ちあがーる",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6191%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6203",
  :name "お風呂",
  :ruby "おふろ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6203%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6204",
  :name "スワッピング・夫婦交換",
  :ruby "すわっぴんぐふうふこうかん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6204%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6207",
  :name "娘・養女",
  :ruby "むすめようじょ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6207%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6208",
  :name "花嫁",
  :ruby "はなよめ",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6208%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6209",
  :name "旅行",
  :ruby "りょこう",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6209%2F&af_id=romanchikubi-992&ch=api"}
 {:genre_id "6548",
  :name "独占配信",
  :ruby "どくせんはいしん",
  :list_url
  "https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fanime%2F-%2Flist%2F%3D%2Farticle%3Dkeyword%2Fid%3D6548%2F&af_id=romanchikubi-992&ch=api"})
