({:genre_id "25", :name "拘束", :ruby "こうそく"}
 {:genre_id "27", :name "辱め", :ruby "はずかしめ"}
 {:genre_id "28", :name "羞恥", :ruby "しゅうち"}
 {:genre_id "38", :name "クンニ", :ruby "くんに"}
 {:genre_id "48", :name "制服", :ruby "せいふく"}
 {:genre_id "55", :name "処女", :ruby "しょじょ"}
 {:genre_id "63", :name "巫女", :ruby "みこ"}
 {:genre_id "64", :name "ネコミミ・獣系", :ruby "ねこみみけものけい"}
 {:genre_id "72", :name "異物挿入", :ruby "いぶつそうにゅう"}
 {:genre_id "88", :name "フィスト", :ruby "ふぃすと"}
 {:genre_id "93", :name "裸エプロン", :ruby "はだかえぷろん"}
 {:genre_id "94", :name "ニーソックス", :ruby "にーそっくす"}
 {:genre_id "97", :name "筋肉", :ruby "きんにく"}
 {:genre_id "102", :name "美乳", :ruby "びにゅう"}
 {:genre_id "514", :name "アクション・格闘", :ruby "あくしょんかくとう"}
 {:genre_id "524", :name "義母", :ruby "ぎぼ"}
 {:genre_id "525", :name "アニメキャラクター", :ruby "あにめきゃらくたー"}
 {:genre_id "528", :name "お姫様", :ruby "おひめさま"}
 {:genre_id "553", :name "学園もの", :ruby "がくえんもの"}
 {:genre_id "567", :name "鬼畜", :ruby "きちく"}
 {:genre_id "569", :name "ラブコメ", :ruby "らぶこめ"}
 {:genre_id "1001", :name "OL", :ruby "おーえる"}
 {:genre_id "1003", :name "女将・女主人", :ruby "おかみおんなしゅじん"}
 {:genre_id "1004", :name "インストラクター", :ruby "いんすとらくたー"}
 {:genre_id "1005", :name "キャンギャル", :ruby "きゃんぎゃる"}
 {:genre_id "1007", :name "スチュワーデス", :ruby "すちゅわーです"}
 {:genre_id "1008", :name "メイド", :ruby "めいど"}
 {:genre_id "1009", :name "モデル", :ruby "もでる"}
 {:genre_id "1011", :name "レースクィーン", :ruby "れーすくぃーん"}
 {:genre_id "1012", :name "バスガイド", :ruby "ばすがいど"}
 {:genre_id "1013", :name "看護婦・ナース", :ruby "かんごふなーす"}
 {:genre_id "1014", :name "熟女", :ruby "じゅくじょ"}
 {:genre_id "1015", :name "女医", :ruby "じょい"}
 {:genre_id "1016", :name "女教師", :ruby "おんなきょうし"}
 {:genre_id "1017", :name "女子アナ", :ruby "じょしあな"}
 {:genre_id "1018", :name "女子校生", :ruby "じょしこうせい"}
 {:genre_id "1019", :name "女子大生", :ruby "じょしこうせい"}
 {:genre_id "1020", :name "若妻・幼妻", :ruby "わかづまおさなづま"}
 {:genre_id "1022", :name "家庭教師", :ruby "かていきょうし"}
 {:genre_id "1023", :name "秘書", :ruby "ひしょ"}
 {:genre_id "1025", :name "未亡人", :ruby "みぼうじん"}
 {:genre_id "1026", :name "職業色々", :ruby "しょくぎょういろいろ"}
 {:genre_id "1027", :name "美少女", :ruby "びしょうじょ"}
 {:genre_id "1028", :name "黒人男優", :ruby "こくじんだんゆう"}
 {:genre_id "1029", :name "妊婦", :ruby "にんぷ"}
 {:genre_id "1030", :name "そっくりさん", :ruby "そっくりさん"}
 {:genre_id "1031", :name "痴女", :ruby "ちじょ"}
 {:genre_id "1032", :name "お母さん", :ruby "おかあさん"}
 {:genre_id "1033", :name "お姉さん", :ruby "おねえさん"}
 {:genre_id "1034", :name "ギャル", :ruby "ぎゃる"}
 {:genre_id "1036", :name "キャバ嬢・風俗嬢", :ruby "きゃばじょうふうぞくじょう"}
 {:genre_id "1039", :name "人妻・主婦", :ruby "ひとづましゅふ"}
 {:genre_id "1040", :name "ウェイトレス", :ruby "うぇいとれす"}
 {:genre_id "1041", :name "コンパニオン", :ruby "こんぱにおん"}
 {:genre_id "1069", :name "不倫", :ruby "ふりん"}
 {:genre_id "1083", :name "幼なじみ", :ruby "おさななじみ"}
 {:genre_id "2001", :name "巨乳", :ruby "きょにゅう"}
 {:genre_id "2003", :name "小柄", :ruby "こがら"}
 {:genre_id "2004", :name "めがね", :ruby "めがね"}
 {:genre_id "2005", :name "貧乳・微乳", :ruby "ひんにゅうびにゅう"}
 {:genre_id "2006", :name "スレンダー", :ruby "すれんだー"}
 {:genre_id "2007", :name "ぽっちゃり", :ruby "ぽっちゃり"}
 {:genre_id "2008", :name "ミニ系", :ruby "みにけい"}
 {:genre_id "2011", :name "アジア女優", :ruby "あじあじょゆう"}
 {:genre_id "2012", :name "白人女優", :ruby "はくじんじょゆう"}
 {:genre_id "2019", :name "ツンデレ", :ruby "つんでれ"}
 {:genre_id "2023", :name "日焼け", :ruby "ひやけ"}
 {:genre_id "2024", :name "巨尻", :ruby "きょしり"}
 {:genre_id "3001", :name "体操着・ブルマ", :ruby "たいそうぎぶるま"}
 {:genre_id "3002", :name "和服・浴衣", :ruby "わふくゆかた"}
 {:genre_id "3003", :name "セーラー服", :ruby "せーらーふく"}
 {:genre_id "3005", :name "チャイナドレス", :ruby "ちゃいなどれす"}
 {:genre_id "3006", :name "パンスト・タイツ", :ruby "ぱんすとたいつ"}
 {:genre_id "3007", :name "ミニスカ", :ruby "みにすか"}
 {:genre_id "3008", :name "水着", :ruby "みずぎ"}
 {:genre_id "3009", :name "競泳・スクール水着", :ruby "きょうえいすくーるみずぎ"}
 {:genre_id "3011", :name "学生服", :ruby "がくせいふく"}
 {:genre_id "3012", :name "ミニスカポリス", :ruby "みにすかぽりす"}
 {:genre_id "3013", :name "ボディコン", :ruby "ぼでぃこん"}
 {:genre_id "3014", :name "ランジェリー", :ruby "らんじぇりー"}
 {:genre_id "3015", :name "ボンテージ", :ruby "ぼんてーじ"}
 {:genre_id "3029", :name "即ハメ", :ruby "そくはめ"}
 {:genre_id "3032", :name "ルーズソックス", :ruby "るーずそっくす"}
 {:genre_id "3033", :name "バニーガール", :ruby "ばにーがーる"}
 {:genre_id "3034", :name "ゴスロリ", :ruby "ごすろり"}
 {:genre_id "3035", :name "レオタード", :ruby "れおたーど"}
 {:genre_id "4001", :name "SM", :ruby "えすえむ"}
 {:genre_id "4002", :name "近親相姦", :ruby "きんしんそうかん"}
 {:genre_id "4005", :name "乱交", :ruby "らんこう"}
 {:genre_id "4006", :name "ナンパ", :ruby "なんぱ"}
 {:genre_id "4007", :name "企画", :ruby "きかく"}
 {:genre_id "4008", :name "脚フェチ", :ruby "あしふぇち"}
 {:genre_id "4009", :name "巨乳フェチ", :ruby "きょにゅうふぇち"}
 {:genre_id "4010", :name "その他フェチ", :ruby "そのたふぇち"}
 {:genre_id "4011", :name "尻フェチ", :ruby "しりふぇち"}
 {:genre_id "4013", :name "レズ", :ruby "れず"}
 {:genre_id "4014", :name "童貞", :ruby "どうてい"}
 {:genre_id "4015", :name "ニューハーフ", :ruby "にゅーはーふ"}
 {:genre_id "4016", :name "パンチラ", :ruby "ぱんちら"}
 {:genre_id "4017", :name "局部アップ", :ruby "きょくぶあっぷ"}
 {:genre_id "4018", :name "スカトロ", :ruby "すかとろ"}
 {:genre_id "4019", :name "パイパン", :ruby "ぱいぱん"}
 {:genre_id "4020", :name "野外・露出", :ruby "やがいろしゅつ"}
 {:genre_id "4021", :name "盗撮・のぞき", :ruby "とうさつのぞき"}
 {:genre_id "4022", :name "洋ピン・海外輸入", :ruby "ようぴんかいがいゆにゅう"}
 {:genre_id "4023", :name "ドキュメンタリー", :ruby "どきゅめんたりー"}
 {:genre_id "4024", :name "素人", :ruby "しろうと"}
 {:genre_id "4026", :name "カーセックス", :ruby "かーせっくす"}
 {:genre_id "4028", :name "妄想", :ruby "もうそう"}
 {:genre_id "4030", :name "淫乱・ハード系", :ruby "いんらんはーどけい"}
 {:genre_id "4031", :name "コスプレ", :ruby "こすぷれ"}
 {:genre_id "4057", :name "姉・妹", :ruby "あねいもうと"}
 {:genre_id "4058", :name "ショタ", :ruby "しょた"}
 {:genre_id "4059", :name "キス・接吻", :ruby "きすせっぷん"}
 {:genre_id "4096", :name "スポーツ", :ruby "すぽーつ"}
 {:genre_id "4098", :name "セクシー", :ruby "せくしー"}
 {:genre_id "4105", :name "ダンス", :ruby "だんす"}
 {:genre_id "4106", :name "騎乗位", :ruby "きじょうい"}
 {:genre_id "4111", :name "寝取り・寝取られ・NTR", :ruby "ねとりねとられ"}
 {:genre_id "4114", :name "ドラマ", :ruby "どらま"}
 {:genre_id "4116", :name "着エロ", :ruby "ちゃくえろ"}
 {:genre_id "4118", :name "アイドル・芸能人", :ruby "あいどるげいのうじん"}
 {:genre_id "4119", :name "エステ", :ruby "えすて"}
 {:genre_id "4122", :name "イタズラ", :ruby "いたずら"}
 {:genre_id "4123", :name "カップル", :ruby "かっぷる"}
 {:genre_id "4124", :name "マッサージ・リフレ", :ruby "まっさーじりふれ"}
 {:genre_id "4140", :name "温泉", :ruby "おんせん"}
 {:genre_id "5001", :name "中出し", :ruby "なかだし"}
 {:genre_id "5002", :name "フェラ", :ruby "ふぇら"}
 {:genre_id "5003", :name "ぶっかけ", :ruby "ぶっかけ"}
 {:genre_id "5004", :name "手コキ", :ruby "てこき"}
 {:genre_id "5005", :name "アナル", :ruby "あなる"}
 {:genre_id "5006", :name "バイブ", :ruby "ばいぶ"}
 {:genre_id "5007", :name "クスコ", :ruby "くすこ"}
 {:genre_id "5008", :name "オナニー", :ruby "おなにー"}
 {:genre_id "5009", :name "ごっくん", :ruby "ごっくん"}
 {:genre_id "5010", :name "監禁", :ruby "かんきん"}
 {:genre_id "5011", :name "放尿・お漏らし", :ruby "ほうにょうおもらし"}
 {:genre_id "5012", :name "飲尿", :ruby "いんにょう"}
 {:genre_id "5013", :name "脱糞", :ruby "だっぷん"}
 {:genre_id "5014", :name "浣腸", :ruby "かんちょう"}
 {:genre_id "5015", :name "ドラッグ", :ruby "どらっぐ"}
 {:genre_id "5016", :name "潮吹き", :ruby "しおふき"}
 {:genre_id "5017", :name "おもちゃ", :ruby "おもちゃ"}
 {:genre_id "5018", :name "ローター", :ruby "ろーたー"}
 {:genre_id "5019", :name "パイズリ", :ruby "ぱいずり"}
 {:genre_id "5020", :name "シックスナイン", :ruby "しっくすないん"}
 {:genre_id "5021", :name "縛り・緊縛", :ruby "しばりきんばく"}
 {:genre_id "5022", :name "3P・4P", :ruby "さんぴーよんぴー"}
 {:genre_id "5023", :name "顔射", :ruby "がんしゃ"}
 {:genre_id "5025", :name "淫語", :ruby "いんご"}
 {:genre_id "5048", :name "足コキ", :ruby "あしこき"}
 {:genre_id "5053", :name "指マン", :ruby "ゆびまん"}
 {:genre_id "5057", :name "ローション・オイル", :ruby "ろーしょんおいる"}
 {:genre_id "5060", :name "母乳", :ruby "ぼにゅう"}
 {:genre_id "5062", :name "レズキス", :ruby "れずきす"}
 {:genre_id "5063", :name "主観", :ruby "しゅかん"}
 {:genre_id "5066", :name "電マ", :ruby "でんま"}
 {:genre_id "5067", :name "顔面騎乗", :ruby "がんめんきじょう"}
 {:genre_id "5068", :name "イラマチオ", :ruby "いらまちお"}
 {:genre_id "5071", :name "ハーレム", :ruby "はーれむ"}
 {:genre_id "5073", :name "デカチン・巨根", :ruby "でかちんきょこん"}
 {:genre_id "5075", :name "汗だく", :ruby "あせだく"}
 {:genre_id "5076", :name "アナルセックス", :ruby "あなるせっくす"}
 {:genre_id "6002", :name "ハメ撮り", :ruby "はめどり"}
 {:genre_id "6005", :name "投稿", :ruby "とうこう"}
 {:genre_id "6006", :name "デビュー作品", :ruby "でびゅーさくひん"}
 {:genre_id "6086", :name "体験告白", :ruby "たいけんこくはく"}
 {:genre_id "6149", :name "超乳", :ruby "ちょうにゅう"}
 {:genre_id "6164", :name "ビッチ", :ruby "びっち"}
 {:genre_id "6533", :name "ハイビジョン", :ruby "はいびじょん"}
 {:genre_id "6548", :name "独占配信", :ruby "どくせんはいしん"}
 {:genre_id "6565", :name "期間限定セール", :ruby "きかんげんていせーる"}
 {:genre_id "6566", :name "FANZA配信限定", :ruby "ふぁんざはいしんげんてい"}
 {:genre_id "6671", :name "スマホ推奨縦動画", :ruby "すまほすいしょうたてどうが"}
 {:genre_id "6933", :name "ヨガ", :ruby "よが"}
 {:genre_id "6934", :name "お爺ちゃん", :ruby "おじいちゃん"}
 {:genre_id "6935", :name "軟体", :ruby "なんたい"}
 {:genre_id "6936", :name "面接", :ruby "めんせつ"}
 {:genre_id "6937", :name "ヘルス・ソープ", :ruby "へるすそーぷ"}
 {:genre_id "6939", :name "ビジネススーツ", :ruby "びじねすすーつ"}
 {:genre_id "6940", :name "スパンキング", :ruby "すぱんきんぐ"}
 {:genre_id "6941", :name "ディルド", :ruby "でぃるど"}
 {:genre_id "6943", :name "叔母さん", :ruby "おばさん"}
 {:genre_id "6945", :name "女上司", :ruby "おんなじょうし"}
 {:genre_id "6946", :name "部下・同僚", :ruby "ぶかどうりょう"}
 {:genre_id "6947", :name "お婆ちゃん", :ruby "おばあちゃん"}
 {:genre_id "6948", :name "男の潮吹き", :ruby "おとこのしおふき"}
 {:genre_id "6952", :name "放置", :ruby "ほうち"}
 {:genre_id "6955", :name "セレブ", :ruby "せれぶ"}
 {:genre_id "6956", :name "デート", :ruby "でーと"}
 {:genre_id "6957", :name "飲み会・合コン", :ruby "のみかいごうこん"}
 {:genre_id "6958", :name "バック", :ruby "ばっく"}
 {:genre_id "6959", :name "チアガール", :ruby "ちあがーる"}
 {:genre_id "6960", :name "ママ友", :ruby "ままとも"}
 {:genre_id "6961", :name "部活・マネージャー", :ruby "ぶかつまねーじゃー"}
 {:genre_id "6962", :name "ホテル", :ruby "ほてる"}
 {:genre_id "6963", :name "病院・クリニック", :ruby "びょういんくりにっく"}
 {:genre_id "6964", :name "ノーパン", :ruby "のーぱん"}
 {:genre_id "6965", :name "アスリート", :ruby "あすりーと"}
 {:genre_id "6966", :name "白目・失神", :ruby "しろめしっしん"}
 {:genre_id "6967", :name "M女", :ruby "えむおんな"}
 {:genre_id "6968", :name "アクメ・オーガズム", :ruby "あくめおーがずむ"}
 {:genre_id "6969", :name "お風呂", :ruby "おふろ"}
 {:genre_id "6970", :name "スワッピング・夫婦交換", :ruby "すわっぴんぐふうふこうかん"}
 {:genre_id "6971", :name "胸チラ", :ruby "むねちら"}
 {:genre_id "6972", :name "ノーブラ", :ruby "のーぶら"}
 {:genre_id "6973", :name "娘・養女", :ruby "むすめようじょ"}
 {:genre_id "6974", :name "花嫁", :ruby "はなよめ"}
 {:genre_id "6975", :name "旅行", :ruby "りょこう"}
 {:genre_id "8501", :name "ミニ系", :ruby "みにけい"}
 {:genre_id "8502", :name "清楚", :ruby "せいそ"}
 {:genre_id "8503", :name "ギャル", :ruby "ぎゃる"}
 {:genre_id "8504", :name "美脚", :ruby "びきゃく"}
 {:genre_id "8505", :name "くびれ", :ruby "くびれ"}
 {:genre_id "8506", :name "ボディピアス", :ruby "ぼでぃぴあす"}
 {:genre_id "8507", :name "長身", :ruby "ちょうしん"}
 {:genre_id "8508", :name "巨乳", :ruby "きょにゅう"}
 {:genre_id "8509", :name "美乳", :ruby "びにゅう"}
 {:genre_id "8510", :name "ぽっちゃり", :ruby "ぽっちゃり"}
 {:genre_id "8511", :name "スレンダー", :ruby "すれんだー"}
 {:genre_id "8512", :name "パイパン", :ruby "ぱいぱん"}
 {:genre_id "8513", :name "色白", :ruby "いろじろ"}
 {:genre_id "8514", :name "色黒", :ruby "いろぐろ"}
 {:genre_id "8515", :name "ロングヘアー", :ruby "ろんぐへあー"}
 {:genre_id "8516", :name "ショートヘアー", :ruby "しょーとへあー"}
 {:genre_id "8518", :name "茶髪", :ruby "ちゃぱつ"}
 {:genre_id "8519", :name "金髪", :ruby "きんぱつ"}
 {:genre_id "8520", :name "巻き髪", :ruby "まきがみ"}
 {:genre_id "8521", :name "お姉さん", :ruby "おねえさん"}
 {:genre_id "8522", :name "タトゥー", :ruby "たとぅー"}
 {:genre_id "8523", :name "貧乳・微乳", :ruby "ひんにゅうびにゅう"}
 {:genre_id "8524", :name "お嬢様・令嬢", :ruby "おじょうさまれいじょう"}
 {:genre_id "8525", :name "ミディアムヘアー", :ruby "みでぃあむへあー"}
 {:genre_id "8526", :name "小柄", :ruby "こがら"}
 {:genre_id "8527", :name "黒髪", :ruby "くろかみ"}
 {:genre_id "8528", :name "外国人", :ruby "がいこくじん"})
