({:author "アインシュタイン",
  :content "昨日から学び、今日を懸命に生き、明日への希望を持て。大切なことは問うことをやめないことだ。",
  :id "ppdt2XqytmRQ55Jwlrns"}
 {:author "エマーソン",
  :content "自分自身を最大限に利用しなさい。あなたにとって、あるのはそれだけなのですから。",
  :id "rNFkuttrnBIJhwkjqCgS"}
 {:author "織田信長",
  :content "必死に生きてこそ、その生涯は光を放つ。",
  :id "oK0Iyq5fcjpHZCMeknvV"}
 {:author "ウォルト・ディズニー",
  :content "逆境の中で咲く花は、どの花よりも貴重で美しい。",
  :id "raDE0JHfG23xJ1qilRtd"}
 {:author "スティーブ・ジョブス",
  :content "昔を振り返るのはここでやめにしよう。大切なのは明日何が起きるかだ。",
  :id "1t0b1JUhzap93Y3Cuklr"}
 {:author "升田幸三",
  :content "踏まれても叩かれても、努力さえしつづけていれば、必ずいつかは実を結ぶ。",
  :id "OBeDkv9fNjyU6hHDtNTL"}
 {:author "高杉晋作",
  :content "真の楽しみは苦しみの中にこそある。",
  :id "GB6WmnpyA0DTj357OzM0"}
 {:author "ゲーテ",
  :content "生きている間は、なにごとも延期するな。なんじの実行また実行であれ。",
  :id "D2OzMaRkbquVhfoYZ6EG"}
 {:author "渋沢栄一",
  :content "もうこれで満足だという時は、すなわち衰える時である。",
  :id "1JH4k9RTdjzRUhFUp60H"}
 {:author "シェイクスピア",
  :content "とじこめられている火が、いちばん強く燃えるものだ。",
  :id "dt43BxZl0n2IHs3VdyZk"}
 {:author "流 音弥",
  :content "努力を癖にしてしまえば苦労せずに成功できるだろう。",
  :id "IH1MxMdRUMLnI1YYTzWa"}
 {:author "幸田露伴",
  :content "努力よりほかにわれわれの未来をよくするものはなく、また努力よりほかにわれわれの過去を美しくするものはないのである。",
  :id "ywA0ZDAu4jwyoPWXOXG0"}
 {:author "", :content "人事を尽くして天命を待つ", :id "8KibpIMomDp0crJ4etv9"}
 {:author "キャロル・バーネット",
  :content "私の人生を変えられるのは私だけ。誰も私のためにそんなことやってくれないわ。",
  :id "uSWHbbqSOqOHLVUDBXb4"}
 {:author "アンドレ・ジッド",
  :content "平凡なことを毎日平凡な気持ちで実行することが、すなわち非凡なのである。",
  :id "4ly7MyYIfOgBjwfPQbKJ"}
 {:author "ガンジー",
  :content "喜びとは、勝利それ自体にではなく、途中の戦い、努力、苦闘の中にある。",
  :id "uhwg3Sbgug8nFPTLYYyn"}
 {:author "リンカーン",
  :content "意志あるところに道は開ける。",
  :id "xwq8XO5Ej3Mpx2qEpfRW"}
 {:author "ドストエフスキー",
  :content "地上に住むすべての人は、まず第一に生を愛さなければならないと思いますよ。",
  :id "rZvQtSaGXSn8lE5VxY4z"}
 {:author "キャサリン・アン・ポータ",
  :content "つらい道を避けないこと。自分の目指す場所にたどりつくためには進まなければ。",
  :id "5h4RwxwM4aAzhtKsnsNj"}
 {:author "カール・ヒルティ",
  :content
  "苦しみは人間を強くするか、それとも打ち砕くかである。その人が自分の内に持っている素質に応じてどちらかになるのである。",
  :id "edjWpP3Z77SIlVnzmVve"}
 {:author "ヘレンケラー",
  :content "元気を出しなさい。今日の失敗ではなく、明日訪れるかもしれない成功について考えるのです。",
  :id "pzqmwifpMSte9dVp3lCF"}
 {:author "ニーチェ",
  :content "何故生きるかを知っているものは、ほとんどあらゆる如何に生きるか、に耐えるのだ。",
  :id "V3stBT7b8xkiHKwBueMp"}
 {:author "ロマン・ロラン",
  :content
  "それは淋しい空地において、暗い闘いを行う烈々たる行動の松明である。失敗も勝利も問題ではない、行動だ！行動し、戦闘することが、虚無に対する唯一の肯定なのだ。",
  :id "AZmQ6cBwF8xbnTOSfWBB"}
 {:author "松下幸之助",
  :content "普通の努力では、チャンスをチャンスと見極められない。熱心の上に熱心であることが見極める眼を開く。",
  :id "vGWpx2Ac4D4Tr6DfoyIz"}
 {:author "レオナルド・ダ・ヴィンチ",
  :content "私は決して障害に屈しはしない。いかなる障害も、私の中に強い決意を生み出すまでだ。",
  :id "USwyNbJI8E8rcAvz2KjY"}
 {:author "ヴィクトル・ユーゴー",
  :content "人は強さに欠けているのではない。意志を欠いているのだ。",
  :id "wI7NseVkChg1VWU8IzG5"}
 {:author "ベートーベン", :content "苦悩を抜けて歓喜へ", :id "uWuVqNwVZgSnFtlx1gd7"}
 {:author "ガンジー",
  :content "人間は、その人の思考の産物にすぎない。人は思っている通りになる。",
  :id "Icz0vfPb1Pxa3TLnMmIm"}
 {:author "ドフトエフスキー",
  :content "苦しむこともまた才能の一つである。",
  :id "kVEWVOSAJo5yRw5xQ269"}
 {:author "松下幸之助",
  :content "万策尽きたと思うな。自ら断崖絶壁の淵にたて。その時はじめて新たなる風は必ず吹く。",
  :id "kEFzDrtBP30nekROuM13"}
 {:author "ウォルター･バジョット",
  :content "人生における大きな喜びは、「君にはできない」と世間が言うことをやってのけることである。",
  :id "07RgpSVoWP9F4eYHJmO9"}
 {:author "アインシュタイン",
  :content "天才とは努力する凡才のことである。",
  :id "PdZ3HCepVtxT0w3yDxy6"}
 {:author "アリストテレス",
  :content "人間は、目標を追い求める動物である。目標へ到達しようと努力することによってのみ、人生が意味あるものとなる。",
  :id "mj49aj87YIUDbd526buV"}
 {:author "野口英世",
  :content "努力だ。勉強だ。それが天才だ。誰よりも三倍、四倍、五倍勉強する者、それが天才だ。",
  :id "pCE02Z9xcAoUp5VuyHoi"}
 {:author "野比のび太",
  :content "いちばんいけないのはじぶんなんかだめだと思いこむことだよ。",
  :id "BhgNrj9bTccylmJGRoO6"}
 {:author "ポール・グレアム",
  :content "普通の奴らの上を行け",
  :id "8zHIP1OxHwVA31zBb0r3"}
 {:author "アヴィーチ", :content "記憶に残る人生を歩め。", :id "xRCrxjPMUxAtxfykpMtr"}
 {:author "松下幸之助",
  :content "石の上にも三年という。しかし、三年を一年で習得する努力を怠ってはならない。",
  :id "6lrBARLRzsx7TZn0VdQm"}
 {:author "ウィリアム･ジェームズ",
  :content "苦しいから逃げるのではない。逃げるから苦しくなるのだ。",
  :id "K2HP2KutjXHo4aicfEBa"}
 {:author "ロマン・ロラン",
  :content "私は虚無と戦う生命なのだ。私は闇に燃える火だ。私は永遠に戦う自由な意思だ。私といっしょに戦え。そして燃えるがよい。",
  :id "6DQcIoWHxrc6EnOgpdtF"}
 {:author "ロマン・ロラン",
  :content "苦しめ、死ね。しかし、お前があらねばならぬものであれ。人間であれ。",
  :id "vfFRqboh6rcNimztSsCh"}
 {:author "王 貞治",
  :content "努力は必ず報われる。もし報われない努力があるのならば、それはまだ努力と呼べない。",
  :id "otedDzjQOY2lKMy4O9u5"}
 {:author "トルストイ",
  :content "人間にとって最高の幸福は、一年の終わりにおける自己を、その一年の始めにおける遥かに良くなったと感ずることである。",
  :id "th55MDP68ygR3ALHwb7j"}
 {:author "野村克也",
  :content "重荷があるからこそ、人は努力するのである。重荷があるからこそ、大地にしっかりと足をつけて歩いていける。",
  :id "Wobntql4Ri4Il3gkgEhL"}
 {:author "プラトン",
  :content "自分に打ち勝つことが、最も偉大な勝利である。",
  :id "u8R2y7atMMz52WUU69lD"}
 {:author "坂本龍馬",
  :content "世の人は我を何とも言わば言え、我が成すべきことは我のみぞ知る。",
  :id "XC6xtZ7olNDX9BjnNYbH"}
 {:author "ニーチェ",
  :content "目的を忘れることは、愚かな人間にもっともありがちなことだ。",
  :id "YTTbvk0qfe26Yk9Fxa2Y"}
 {:author "ヴィクトル・ユーゴー",
  :content "友よ、逆境にあっては、常にこう叫ばねばならない。「希望、希望、また希望」と。",
  :id "2Pf1naJ9ZSL1MKVHBAnP"}
 {:author "福沢諭吉",
  :content "進まざる者は必ず退き、退かざる者は必ず進む。",
  :id "ECakOSNTeJGN3MuhQDl0"}
 {:author "ヘミングウェイ",
  :content "人間の価値は、絶望的な敗北に直面して、いかにふるまうかにかかっている。",
  :id "7jySkQpXULDgotJ5PeVZ"}
 {:author "ビル・ゲイツ",
  :content "自分のことを、この世の誰とも比べてはいけない。それは自分自身を侮辱する行為だ。",
  :id "S5tr4JGQSMBoMLefmEot"}
 {:author "ルイ・アームストロング",
  :content "途中であきらめちゃいけない。途中であきらめてしまったら、得るものより失うものの方が、ずっと多くなってしまう。",
  :id "EScX7W7Bx0h1fihb5z9I"}
 {:author "ヴィクトル・ユーゴー",
  :content "立派な人間は、天頂に星がきらめくときに、みずからの精神に火をともすのだ。",
  :id "E5RnZZoT6LOdLqrZf0aZ"}
 {:author "マイケル・ジョーダン",
  :content "目標を達成するには、全力で取り組む以外に方法はない。そこに近道はない。",
  :id "FWiZYEhaY7WcXbGbBMl3"}
 {:author "シェイクスピア",
  :content "豊かさと平和は、臆病者をつくる。苦難こそ強さの母だ。",
  :id "UIj63Tb7LDd3w0zWZa7e"}
 {:author "井上 靖",
  :content "努力する人は希望を語り、怠ける人は不満を語る。",
  :id "yZk8ANS8KTfFjdmv0R0a"}
 {:author "坂本龍馬",
  :content "業なかばで倒れてもよい。そのときは、目標の方角にむかい、その姿勢で倒れよ。",
  :id "1ChceL2X1NxDZcQ2OMbK"}
 {:author "バーナード・ショー",
  :content
  "人間を賢くし人間を偉大にするものは、過去の経験ではなく、未来に対する期待である。なぜならば、期待をもつ人間は、何歳になっても勉強するからである。",
  :id "V589M3kbT3MEppB4exAc"}
 {:author "ヘンリー・フォード",
  :content "努力が効果をあらわすまでには時間がかかる。多くの人はそれまでに飽き、迷い、挫折する。",
  :id "Ke5TngIHTj5ypH0qsuCg"}
 {:author "ベーブ・ルース",
  :content "決してギブアップしないヤツを打ち負かすことだけはできない。",
  :id "4gSV2oehfjJC1xCY6aZc"}
 {:author "ガンジー",
  :content "満足は努力の中にあって、結果にあるものではない。",
  :id "evvjkTkUFhe3p83cg9xj"}
 {:author "イチロー",
  :content "小さなことを重ねることが、とんでもないところに行くただひとつの道。",
  :id "wWoPGdT6qBBpSenAQHtS"}
 {:author "モハメドアリ",
  :content "自分をダメだと思えば、その時点から自分はダメになる。",
  :id "uBmDg3my4vfwEfcHjC2O"}
 {:author "ヴィクトール・フランクル",
  :content "意味は生存の歩調を定める。実存は、実存自体を超えた何物かへの超越性によって生きられない限り、躓く。",
  :id "5ijV8YvSbFLyiSs45uWB"}
 {:author "トーマス・エジソン",
  :content "天才とは99％の努力と1％のひらめきであるの努力と1％のひらめきである。",
  :id "ydmmHWpj0sDQqlIAeHeS"}
 {:author "吉田松蔭",
  :content "志を立てて以って万事の源と為す",
  :id "PL0qKKkqk2YzZR0jBy87"}
 {:author "フランツ・ベッケンバウワー",
  :content "強い者が勝つのではない。勝った者が強いのだ。",
  :id "40gOQGD28wGRZp67QbFt"}
 {:author "ベートーベン",
  :content "優れた人間は、どんなに不幸で苦しい境遇でも、黙って耐え忍ぶ。",
  :id "dy8LV1PfQDsbGSEf7QkK"}
 {:author "ニーチェ",
  :content "高みに向かって努力を続けることは  決して無駄ではない",
  :id "vyXt6BwbVyogxWkvUFkv"}
 {:author "手塚治虫",
  :content "人を信じよ、しかし、その百倍も自らを信じよ。",
  :id "d4mTpCHmIez9FGw6gI6H"}
 {:author "スティーブ・ジョブズ",
  :content
  "過去ばかり振り向いていたのではダメだ。自分がこれまで何をして、これまでに誰だったのかを受け止めた上で、それを捨てればいい。",
  :id "ejMi4RlAnim2bIZNMMoj"}
 {:author "トーマス・エジソン", :content "失敗は成功の母だ", :id "IH9ZTUHJL32L57uitH6m"})
