({:author "レオナルド・ダ・ヴィンチ",
  :content "私は決して障害に屈しはしない。いかなる障害も、私の中に強い決意を生み出すまでだ。",
  :id "7rYXN5rKbKLYy2vzUptL"}
 {:author "野口英世",
  :content "努力だ。勉強だ。それが天才だ。誰よりも三倍、四倍、五倍勉強する者、それが天才だ。",
  :id "dQAHiXu7KE3ggG1lI4Qs"}
 {:author "トルストイ",
  :content "人間にとって最高の幸福は、一年の終わりにおける自己を、その一年の始めにおける遥かに良くなったと感ずることである。",
  :id "1u3rke2ZCo0Jy3zAn89Q"}
 {:author "織田信長",
  :content "必死に生きてこそ、その生涯は光を放つ。",
  :id "U94CdLA3R4yJYogdcwbz"}
 {:author "アインシュタイン",
  :content "昨日から学び、今日を懸命に生き、明日への希望を持て。大切なことは問うことをやめないことだ。",
  :id "NJKNBegmlpQ9XjLJes9t"}
 {:author "ポール・グレアム",
  :content "普通の奴らの上を行け",
  :id "XW6ObTDE8pi612flIUAF"}
 {:author "升田幸三",
  :content "踏まれても叩かれても、努力さえしつづけていれば、必ずいつかは実を結ぶ。",
  :id "zN43dODzz68sfHM1KFVa"}
 {:author "ベーブ・ルース",
  :content "決してギブアップしないヤツを打ち負かすことだけはできない。",
  :id "bHqIxPjJ4oPJLbvsYnf2"}
 {:author "アインシュタイン",
  :content "天才とは努力する凡才のことである。",
  :id "RLrclLt6DorHjLecy0F5"}
 {:author "松下幸之助",
  :content "万策尽きたと思うな。自ら断崖絶壁の淵にたて。その時はじめて新たなる風は必ず吹く。",
  :id "0Es9SgQL4mOjq1jAXmuF"}
 {:author "ガンジー",
  :content "満足は努力の中にあって、結果にあるものではない。",
  :id "BcOlND7zCHS2XOpijFRp"}
 {:author "ニーチェ",
  :content "高みに向かって努力を続けることは  決して無駄ではない",
  :id "e0OXKuBGZYWn7QL9Ihgn"}
 {:author "手塚治虫",
  :content "人を信じよ、しかし、その百倍も自らを信じよ。",
  :id "v66au6vfC9rf7Kt1HHSz"}
 {:author "プラトン",
  :content "自分に打ち勝つことが、最も偉大な勝利である。",
  :id "eiohedbWIVSysRJTC5t3"}
 {:author "キャロル・バーネット",
  :content "私の人生を変えられるのは私だけ。誰も私のためにそんなことやってくれないわ。",
  :id "ddd9jKPgt9AVrqmekOKb"}
 {:author "", :content "人事を尽くして天命を待つ", :id "vgVvQYAwdfE0vYSMJJKk"}
 {:author "ウィリアム･ジェームズ",
  :content "苦しいから逃げるのではない。逃げるから苦しくなるのだ。",
  :id "aDHTKO3NTonmKbpzz5z6"}
 {:author "アリストテレス",
  :content "人間は、目標を追い求める動物である。目標へ到達しようと努力することによってのみ、人生が意味あるものとなる。",
  :id "4vmcHe3rrUcrQEjX2A1T"}
 {:author "アヴィーチ", :content "記憶に残る人生を歩め。", :id "Y0m67JJgliu1Eo3lQeWM"}
 {:author "王 貞治",
  :content "努力は必ず報われる。もし報われない努力があるのならば、それはまだ努力と呼べない。",
  :id "l2v2VfCgXpMWgGlyeqgM"}
 {:author "リンカーン",
  :content "意志あるところに道は開ける。",
  :id "VgbxJC6aOKeF7nUIhHJl"}
 {:author "スティーブ・ジョブズ",
  :content
  "過去ばかり振り向いていたのではダメだ。自分がこれまで何をして、これまでに誰だったのかを受け止めた上で、それを捨てればいい。",
  :id "iHQKliVKqcyqFoM7zCTk"}
 {:author "ゲーテ",
  :content "生きている間は、なにごとも延期するな。なんじの実行また実行であれ。",
  :id "7JyRt6VKbuDFxu7PLX60"}
 {:author "ロマン・ロラン",
  :content
  "それは淋しい空地において、暗い闘いを行う烈々たる行動の松明である。失敗も勝利も問題ではない、行動だ！行動し、戦闘することが、虚無に対する唯一の肯定なのだ。",
  :id "8xcEY52i0scUovkeEEaE"}
 {:author "ヴィクトル・ユーゴー",
  :content "人は強さに欠けているのではない。意志を欠いているのだ。",
  :id "KXti3ir4xGVECGps7nGi"}
 {:author "ロマン・ロラン",
  :content "私は虚無と戦う生命なのだ。私は闇に燃える火だ。私は永遠に戦う自由な意思だ。私といっしょに戦え。そして燃えるがよい。",
  :id "QCDmwgLyudIz6LBvZbWr"}
 {:author "ヴィクトール・フランクル",
  :content "意味は生存の歩調を定める。実存は、実存自体を超えた何物かへの超越性によって生きられない限り、躓く。",
  :id "J68NBNGO8pMhKpdM5fAp"}
 {:author "ベートーベン", :content "苦悩を抜けて歓喜へ", :id "KsyPunR1SZSsvk4LexUy"}
 {:author "イチロー",
  :content "小さなことを重ねることが、とんでもないところに行くただひとつの道。",
  :id "EBT5JLqVXHwsIju0s0EY"}
 {:id "1gA4bviIYnXOywpMi2g2"}
 {:author "福沢諭吉",
  :content "進まざる者は必ず退き、退かざる者は必ず進む。",
  :id "y94PjSQw8vVzgRcgkwcJ"}
 {:author "ニーチェ",
  :content "目的を忘れることは、愚かな人間にもっともありがちなことだ。",
  :id "L3i0Ef3jSo18gom9RmN2"}
 {:author "ルイ・アームストロング",
  :content "途中であきらめちゃいけない。途中であきらめてしまったら、得るものより失うものの方が、ずっと多くなってしまう。",
  :id "UnoGZ31guUe7R2b0aNyx"}
 {:author "エマーソン",
  :content "自分自身を最大限に利用しなさい。あなたにとって、あるのはそれだけなのですから。",
  :id "AdxTE5XGDduewJlzvJ8k"}
 {:author "ガンジー",
  :content "人間は、その人の思考の産物にすぎない。人は思っている通りになる。",
  :id "Er6uatvGDenby9ax8Z5H"}
 {:author "ビル・ゲイツ",
  :content "自分のことを、この世の誰とも比べてはいけない。それは自分自身を侮辱する行為だ。",
  :id "8RGcYXklw9fncOdHezMn"}
 {:author "ロマン・ロラン",
  :content "苦しめ、死ね。しかし、お前があらねばならぬものであれ。人間であれ。",
  :id "FMnQSMplXzcRinweswWb"}
 {:author "野村克也",
  :content "重荷があるからこそ、人は努力するのである。重荷があるからこそ、大地にしっかりと足をつけて歩いていける。",
  :id "4AelhjLutzQAmEn7b5io"}
 {:author "シェイクスピア",
  :content "豊かさと平和は、臆病者をつくる。苦難こそ強さの母だ。",
  :id "astPSenLgNGVHOqFX2SZ"}
 {:author "渋沢栄一",
  :content "もうこれで満足だという時は、すなわち衰える時である。",
  :id "GTGuPpdfHPRJwBYyBKdb"}
 {:author "アンドレ・ジッド",
  :content "平凡なことを毎日平凡な気持ちで実行することが、すなわち非凡なのである。",
  :id "zRvkoQAkZQCIw8esgr6P"}
 {:author "ドフトエフスキー",
  :content "苦しむこともまた才能の一つである。",
  :id "sTSAyeXpHlncG7NFCeAd"}
 {:author "坂本龍馬",
  :content "業なかばで倒れてもよい。そのときは、目標の方角にむかい、その姿勢で倒れよ。",
  :id "Vt3TrZIf0YFsSNnavgls"}
 {:author "井上 靖",
  :content "努力する人は希望を語り、怠ける人は不満を語る。",
  :id "w8s0UGxitccrwQJ2JF6i"}
 {:author "ウォルター･バジョット",
  :content "人生における大きな喜びは、「君にはできない」と世間が言うことをやってのけることである。",
  :id "9vNnUOmpf7MshAhxHISn"}
 {:author "シェイクスピア",
  :content "とじこめられている火が、いちばん強く燃えるものだ。",
  :id "3JgTfn66NEqHZ7kvc0CU"}
 {:author "スティーブ・ジョブス",
  :content "昔を振り返るのはここでやめにしよう。大切なのは明日何が起きるかだ。",
  :id "CNG65KvJzb3vQAfx30Ln"}
 {:author "ヘンリー・フォード",
  :content "努力が効果をあらわすまでには時間がかかる。多くの人はそれまでに飽き、迷い、挫折する。",
  :id "kVVk4zK95oBO3fsUtCIq"}
 {:author "ヴィクトル・ユーゴー",
  :content "友よ、逆境にあっては、常にこう叫ばねばならない。「希望、希望、また希望」と。",
  :id "5kUI0At1YugUgGSMWMsR"}
 {:author "キャサリン・アン・ポータ",
  :content "つらい道を避けないこと。自分の目指す場所にたどりつくためには進まなければ。",
  :id "1Jud26mhlAcEtwHGbk9B"}
 {:author "ヘレンケラー",
  :content "元気を出しなさい。今日の失敗ではなく、明日訪れるかもしれない成功について考えるのです。",
  :id "4fxU4ehi3ZdU2WiVYF9R"}
 {:author "ベートーベン",
  :content "優れた人間は、どんなに不幸で苦しい境遇でも、黙って耐え忍ぶ。",
  :id "pLO4EX0FBiayLVry3XMF"}
 {:author "トーマス・エジソン", :content "失敗は成功の母だ", :id "9JjBQHVKOTeu99bIyTZc"}
 {:author "カール・ヒルティ",
  :content
  "苦しみは人間を強くするか、それとも打ち砕くかである。その人が自分の内に持っている素質に応じてどちらかになるのである。",
  :id "TdDLygOg6tQ4soreHT93"}
 {:author "坂本龍馬",
  :content "世の人は我を何とも言わば言え、我が成すべきことは我のみぞ知る。",
  :id "VNuLuO9aAiUrNgtrdTmt"}
 {:author "フランツ・ベッケンバウワー",
  :content "強い者が勝つのではない。勝った者が強いのだ。",
  :id "aYNoeklhMMYAcppf8itg"}
 {:author "ヴィクトル・ユーゴー",
  :content "立派な人間は、天頂に星がきらめくときに、みずからの精神に火をともすのだ。",
  :id "AFF9017bhS7dJA4E145F"}
 {:author "モハメドアリ",
  :content "自分をダメだと思えば、その時点から自分はダメになる。",
  :id "Fdoc7JdueK1uR06TJ2E9"}
 {:author "ウォルト・ディズニー",
  :content "逆境の中で咲く花は、どの花よりも貴重で美しい。",
  :id "1O8HqDRDK42Fj3uA0HXI"}
 {:author "野比のび太",
  :content "いちばんいけないのはじぶんなんかだめだと思いこむことだよ。",
  :id "Zb2CqLjadzXoehPSEisR"}
 {:author "吉田松蔭",
  :content "志を立てて以って万事の源と為す",
  :id "gyWl9ntPbz7QZ7nDCKo4"}
 {:author "幸田露伴",
  :content "努力よりほかにわれわれの未来をよくするものはなく、また努力よりほかにわれわれの過去を美しくするものはないのである。",
  :id "3BmCLJmDghgvTgH9J7wZ"}
 {:author "ガンジー",
  :content "喜びとは、勝利それ自体にではなく、途中の戦い、努力、苦闘の中にある。",
  :id "oqwN3TiPodV1mLNnqeMN"}
 {:author "ドストエフスキー",
  :content "地上に住むすべての人は、まず第一に生を愛さなければならないと思いますよ。",
  :id "mR8Ii4LTMOQdURy7hrom"}
 {:author "高杉晋作",
  :content "真の楽しみは苦しみの中にこそある。",
  :id "y4CJIGaiJhxYqdO4pBf3"}
 {:author "バーナード・ショー",
  :content
  "人間を賢くし人間を偉大にするものは、過去の経験ではなく、未来に対する期待である。なぜならば、期待をもつ人間は、何歳になっても勉強するからである。",
  :id "oo7971RdhRoZuDWyXOmA"}
 {:author "ニーチェ",
  :content "何故生きるかを知っているものは、ほとんどあらゆる如何に生きるか、に耐えるのだ。",
  :id "YO6mR2DcFt1VnccCSCTO"}
 {:author "松下幸之助",
  :content "普通の努力では、チャンスをチャンスと見極められない。熱心の上に熱心であることが見極める眼を開く。",
  :id "jYu1KT5Orm58VvAEhYVw"}
 {:author "ヘミングウェイ",
  :content "人間の価値は、絶望的な敗北に直面して、いかにふるまうかにかかっている。",
  :id "Zw9j17LLwMzgSTXCbwA7"}
 {:author "マイケル・ジョーダン",
  :content "目標を達成するには、全力で取り組む以外に方法はない。そこに近道はない。",
  :id "IcYGrAb7wcwFEI7T9T8K"}
 {:author "流 音弥",
  :content "努力を癖にしてしまえば苦労せずに成功できるだろう。",
  :id "I8Ey8MLzd9Z5kp7taiBn"}
 {:author "松下幸之助",
  :content "石の上にも三年という。しかし、三年を一年で習得する努力を怠ってはならない。",
  :id "LiEtI7deQ7lnMH5957H9"}
 {:author "トーマス・エジソン",
  :content "天才とは99％の努力と1％のひらめきであるの努力と1％のひらめきである。",
  :id "LLbZ3Xrr3FmfNtK8qkv7"})
