[{:text "女神かよ！", :id "2fCgzs3zcCAV8CfSHiaf"}
 {:text "妖精かよ！", :id "61TznTzbvqioNSPD9UyF"}
 {:text "天使かよ！", :id "MlOIaKAq5Et9Gc1PwM5u"}
 {:text "エロスの神かよ!", :id "O31X6DJYwYqA0ihSoKY6"}
 {:text "奇跡かよ！", :id "VbbVe7jdZg8sswXCj1oR"}
 {:text "天女かよ！", :id "gPalw5G27vpjST9wCdJP"}]
