[{:text "奇跡かよ！", :id "7Lq5oohUAegdd7WrmSlA"}
 {:text "女神かよ！", :id "Nb2qX8pZ3eRjEQfuO4gE"}
 {:text "妖精かよ！", :id "cOwXEzBrcIfXDGOHfCwX"}
 {:text "天使かよ！", :id "jWslawwUISZPJXOpuhKl"}
 {:text "天女かよ！", :id "qaO0QYFtI1qe5icRiSfv"}
 {:text "エロスの神かよ!", :id "x4wD6icYcLn1tDdWh6TZ"}]
