[{:text "やらしすぎwww", :id "MWhaJ644SQBMIw09FhYf"}
 {:text "やべえwww", :id "RK2ufPBicjgeyEc0h0NE"}
 {:text "くそやべーwww", :id "Z2a9tJL0s8pounbL48RR"}
 {:text "超やべーwww", :id "d4hyNKilAai7a3YhAZVp"}
 {:text "エロすぎwww", :id "kEhN34VBa9CWszr962F0"}
 {:text "かわいすぎwww", :id "mtNSOLTdGXM2XeSd5wAL"}
 {:text "まじやべーwww", :id "yh2R1TaWrpOnqUErK85V"}]
