[{:text "ぱねーよ!", :id "3nq5dbMfmiI56AS0KpiK"}
 {:text "超やべーよ!", :id "4XxU2Qm3j2CtNGUahq2F"}
 {:text "まじぱねーよ!", :id "PPfpQeecrFdC1l09xgk0"}
 {:text "クッソやべーよ！", :id "X8sSw00Ws5B54ZMc1hSf"}
 {:text "まじやべーよ!", :id "afU9ekVHAXTztSjmRBwn"}
 {:text "くそやべーよ!", :id "eDBZScRYJkCDCibYAENJ"}
 {:text "やべーよ!", :id "k93RNM7CGgAl2PvNgmet"}]
