[{:text "女神かよ！", :id "Z8TJJj8VWLWY0mDVdZ7m"}
 {:text "天使かよ！", :id "iQNhLDIPn8KkCVclT1C0"}
 {:text "やべーよ!", :id "FwXWdGB6VGHZ8cIaqXCO"}
 {:text "ぱねーよ!", :id "aS3OfUgCg4RoYjuTh51j"}
 {:text "奇跡かよ！", :id "WO74mJm5GkpdEE623F8b"}
 {:text "まじぱねーよ!", :id "1vUIW6hrCAKIfoZeTcdZ"}
 {:text "クッソやべーよ！", :id "zsGKbCzE0wyHTvzJ1qUG"}
 {:text "くそやべーよ!", :id "UftcsUPEGzcbkZCWNML9"}
 {:text "まじやべーよ!", :id "tcUlJUWY1PINtkyoHNRa"}
 {:text "超やべーよ!", :id "bQfpVdCVmBrTABrRwY9J"}]
