[{:text "やらしすぎwww", :id "4vEbTNFsV0pj3KFFE16J"}
 {:text "超やべーwww", :id "Aepq8Ixzi9QjgObeGwdY"}
 {:text "かわいすぎwww", :id "EN3FgPSEmQBanCICCxyD"}
 {:text "エロすぎwww", :id "TcK5dvksx7M1kUTNGutg"}
 {:text "やべえwww", :id "dZhpjw0sBm1Yli7K0yIc"}
 {:text "まじやべーwww", :id "iNC5JOVQcqG3LVylPaXD"}
 {:text "くそやべーwww", :id "tRFfHTBCha2vbN1CgDSS"}]
